doctype html
html
    head
        title
        link(rel='stylesheet' href='/css/main.css')


    body
        block header
        block content
        block footer

        script(type='text/javascript' src='/js/main.js')